<%= form_with(model: desembarkation, local: true) do |form| %>
  <% if desembarkation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(desembarkation.errors.count, "error") %> prohibited this desembarkation from being saved:</h2>

      <ul>
        <% desembarkation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :embarkation_id %>
    <%= form.text_field :embarkation_id %>
  </div>

  <div class="field">
    <%= form.label :n_movimento %>
    <%= form.number_field :n_movimento %>
  </div>

  <div class="field">
    <%= form.label :porto_origem %>
    <%= form.text_field :porto_origem %>
  </div>

  <div class="field">
    <%= form.label :porto_destino %>
    <%= form.text_field :porto_destino %>
  </div>

  <div class="field">
    <%= form.label :armador_id %>
    <%= form.text_field :armador_id %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :data_entrada %>
    <%= form.text_field :data_entrada %>
  </div>

  <div class="field">
    <%= form.label :hora_entrada %>
    <%= form.text_field :hora_entrada %>
  </div>

  <div class="field">
    <%= form.label :data_saida %>
    <%= form.text_field :data_saida %>
  </div>

  <div class="field">
    <%= form.label :hora_saida %>
    <%= form.text_field :hora_saida %>
  </div>

  <div class="field">
    <%= form.label :nome_comandante %>
    <%= form.text_field :nome_comandante %>
  </div>

  <div class="field">
    <%= form.label :estadia_prev %>
    <%= form.text_field :estadia_prev %>
  </div>

  <div class="field">
    <%= form.label :estadia_final %>
    <%= form.text_field :estadia_final %>
  </div>

  <div class="field">
    <%= form.label :nacionalida %>
    <%= form.text_field :nacionalida %>
  </div>

  <div class="field">
    <%= form.label :tipo_doc %>
    <%= form.text_field :tipo_doc %>
  </div>

  <div class="field">
    <%= form.label :n_doc %>
    <%= form.text_field :n_doc %>
  </div>

  <div class="field">
    <%= form.label :data_emissao %>
    <%= form.text_field :data_emissao %>
  </div>

  <div class="field">
    <%= form.label :data_validade %>
    <%= form.text_field :data_validade %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
