<p id="notice"><%= notice %></p>

<p>
  <strong>Embarkation:</strong>
  <%= @desembarkation.embarkation_id %>
</p>

<p>
  <strong>N movimento:</strong>
  <%= @desembarkation.n_movimento %>
</p>

<p>
  <strong>Porto origem:</strong>
  <%= @desembarkation.porto_origem %>
</p>

<p>
  <strong>Porto destino:</strong>
  <%= @desembarkation.porto_destino %>
</p>

<p>
  <strong>Armador:</strong>
  <%= @desembarkation.armador_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @desembarkation.user %>
</p>

<p>
  <strong>Email:</strong>
  <%= @desembarkation.email %>
</p>

<p>
  <strong>Data entrada:</strong>
  <%= @desembarkation.data_entrada %>
</p>

<p>
  <strong>Hora entrada:</strong>
  <%= @desembarkation.hora_entrada %>
</p>

<p>
  <strong>Data saida:</strong>
  <%= @desembarkation.data_saida %>
</p>

<p>
  <strong>Hora saida:</strong>
  <%= @desembarkation.hora_saida %>
</p>

<p>
  <strong>Nome comandante:</strong>
  <%= @desembarkation.nome_comandante %>
</p>

<p>
  <strong>Estadia prev:</strong>
  <%= @desembarkation.estadia_prev %>
</p>

<p>
  <strong>Estadia final:</strong>
  <%= @desembarkation.estadia_final %>
</p>

<p>
  <strong>Nacionalida:</strong>
  <%= @desembarkation.nacionalida %>
</p>

<p>
  <strong>Tipo doc:</strong>
  <%= @desembarkation.tipo_doc %>
</p>

<p>
  <strong>N doc:</strong>
  <%= @desembarkation.n_doc %>
</p>

<p>
  <strong>Data emissao:</strong>
  <%= @desembarkation.data_emissao %>
</p>

<p>
  <strong>Data validade:</strong>
  <%= @desembarkation.data_validade %>
</p>

<p>
  <strong>Status:</strong>
  <%= @desembarkation.status %>
</p>

<%= link_to 'Edit', edit_desembarkation_path(@desembarkation) %> |
<%= link_to 'Back', desembarkations_path %>
