<%= form_with(model: embarkation, local: true) do |form| %>
  <% if embarkation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(embarkation.errors.count, "error") %> prohibited this embarkation from being saved:</h2>

      <ul>
        <% embarkation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :matricula %>
    <%= form.text_field :matricula %>
  </div>

  <div class="field">
    <%= form.label :local_atracagem %>
    <%= form.text_field :local_atracagem %>
  </div>

  <div class="field">
    <%= form.label :indicativo_chamada %>
    <%= form.text_field :indicativo_chamada %>
  </div>

  <div class="field">
    <%= form.label :nr_imo %>
    <%= form.text_field :nr_imo %>
  </div>

  <div class="field">
    <%= form.label :data_contrucao %>
    <%= form.text_field :data_contrucao %>
  </div>

  <div class="field">
    <%= form.label :estaleiro %>
    <%= form.text_field :estaleiro %>
  </div>

  <div class="field">
    <%= form.label :porto_registro %>
    <%= form.text_field :porto_registro %>
  </div>

  <div class="field">
    <%= form.label :bandeira_origem %>
    <%= form.text_field :bandeira_origem %>
  </div>

  <div class="field">
    <%= form.label :bandeira_actual %>
    <%= form.text_field :bandeira_actual %>
  </div>

  <div class="field">
    <%= form.label :tipo_embarcacao_id %>
    <%= form.number_field :tipo_embarcacao_id %>
  </div>

  <div class="field">
    <%= form.label :tipo_de_casco_id %>
    <%= form.number_field :tipo_de_casco_id %>
  </div>

  <div class="field">
    <%= form.label :tipo_classificacao_id %>
    <%= form.number_field :tipo_classificacao_id %>
  </div>

  <div class="field">
    <%= form.label :stado_da_embarcacao %>
    <%= form.number_field :stado_da_embarcacao %>
  </div>

  <div class="field">
    <%= form.label :comprimento %>
    <%= form.text_field :comprimento %>
  </div>

  <div class="field">
    <%= form.label :boca %>
    <%= form.text_field :boca %>
  </div>

  <div class="field">
    <%= form.label :pontal %>
    <%= form.text_field :pontal %>
  </div>

  <div class="field">
    <%= form.label :tonelagem_bruto %>
    <%= form.text_field :tonelagem_bruto %>
  </div>

  <div class="field">
    <%= form.label :tonelagem_liquida %>
    <%= form.text_field :tonelagem_liquida %>
  </div>

  <div class="field">
    <%= form.label :lotacao %>
    <%= form.text_field :lotacao %>
  </div>

  <div class="field">
    <%= form.label :nr_max_tripulante %>
    <%= form.text_field :nr_max_tripulante %>
  </div>

  <div class="field">
    <%= form.label :nr_min_tripulante %>
    <%= form.text_field :nr_min_tripulante %>
  </div>

  <div class="field">
    <%= form.label :capitao_id %>
    <%= form.number_field :capitao_id %>
  </div>

  <div class="field">
    <%= form.label :armador_id %>
    <%= form.text_field :armador_id %>
  </div>

  <div class="field">
    <%= form.label :proprietario_id %>
    <%= form.number_field :proprietario_id %>
  </div>

  <div class="field">
    <%= form.label :delegation_id %>
    <%= form.text_field :delegation_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
