<!-- Main Content -->
<div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>Embarcações</h1>
      </div>

<p id="notice"><%= notice %></p>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matricula</th>
      <th>estado</th>
    </tr>
  </thead>

  <tbody>
    <% @embarkations.each do |embarkation| %>
      <tr>
        <td><%= embarkation.nome %></td>
        <td><%= embarkation.matricula %></td> 
        <td><%= embarkation.status %></td>
        <td>
            <%= link_to embarkation do %>
                Ver
            <%end%>
        </td>
        <td><%= link_to 'Editar', edit_embarkation_path(embarkation) %></td>
        <td><%= link_to 'Aviso de Chegada', "/aviso/#{embarkation.id}" %></td>
        <td><%= link_to 'Eliminar', embarkation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nova Embarcação', new_embarkation_path, class:"btn btn-primary daterange-btn icon-left btn-icon" %>

</section>
</div>
<br>


