<div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>Visualizar Embarcação</h1>
      </div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @embarkation.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @embarkation.matricula %>
</p>

<p>
  <strong>Local atracagem:</strong>
  <%= @embarkation.local_atracagem %>
</p>

<p>
  <strong>Indicativo chamada:</strong>
  <%= @embarkation.indicativo_chamada %>
</p>

<p>
  <strong>Nr imo:</strong>
  <%= @embarkation.nr_imo %>
</p>

<p>
  <strong>Data contrucao:</strong>
  <%= @embarkation.data_contrucao %>
</p>

<p>
  <strong>Estaleiro:</strong>
  <%= @embarkation.estaleiro %>
</p>

<p>
  <strong>Porto registro:</strong>
  <%= @embarkation.porto_registro %>
</p>

<p>
  <strong>Bandeira origem:</strong>
  <%= @embarkation.bandeira_origem %>
</p>

<p>
  <strong>Bandeira actual:</strong>
  <%= @embarkation.bandeira_actual %>
</p>

<p>
  <strong>Tipo embarcacao:</strong>
  <%= @embarkation.tipo_embarcacao_id %>
</p>

<p>
  <strong>Tipo de casco:</strong>
  <%= @embarkation.tipo_de_casco_id %>
</p>

<p>
  <strong>Tipo classificacao:</strong>
  <%= @embarkation.tipo_classificacao_id %>
</p>

<p>
  <strong>Stado da embarcacao:</strong>
  <%= @embarkation.stado_da_embarcacao %>
</p>

<p>
  <strong>Comprimento:</strong>
  <%= @embarkation.comprimento %>
</p>

<p>
  <strong>Boca:</strong>
  <%= @embarkation.boca %>
</p>

<p>
  <strong>Pontal:</strong>
  <%= @embarkation.pontal %>
</p>

<p>
  <strong>Tonelagem bruto:</strong>
  <%= @embarkation.tonelagem_bruto %>
</p>

<p>
  <strong>Tonelagem liquida:</strong>
  <%= @embarkation.tonelagem_liquida %>
</p>

<p>
  <strong>Lotacao:</strong>
  <%= @embarkation.lotacao %>
</p>

<p>
  <strong>Nr max tripulante:</strong>
  <%= @embarkation.nr_max_tripulante %>
</p>

<p>
  <strong>Nr min tripulante:</strong>
  <%= @embarkation.nr_min_tripulante %>
</p>

<p>
  <strong>Capitao:</strong>
  <%= @embarkation.capitao_id %>
</p>

<p>
  <strong>Armador:</strong>
  <%= @embarkation.armador_id %>
</p>

<p>
  <strong>Proprietario:</strong>
  <%= @embarkation.proprietario_id %>
</p>

<p>
  <strong>Delegation:</strong>
  <%= @embarkation.delegation_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @embarkation.status %>
</p>

<%= link_to 'Edit', edit_embarkation_path(@embarkation) %> |
<%= link_to 'Back', embarkations_path %>
</section>
</div>