<p id="notice"><%= notice %></p>

<h1>Armadors</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tel</th>
      <th>Agente</th>
      <th>Pais</th>
      <th>Morada</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @armadors.each do |armador| %>
      <tr>
        <td><%= armador.nome %></td>
        <td><%= armador.tel %></td>
        <td><%= armador.agente %></td>
        <td><%= armador.pais %></td>
        <td><%= armador.morada %></td>
        <td><%= armador.status %></td>
        <td><%= link_to 'Show', armador %></td>
        <td><%= link_to 'Edit', edit_armador_path(armador) %></td>
        <td><%= link_to 'Destroy', armador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Armador', new_armador_path %>
